#details {
    padding: 1rem;
}

.container {
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
}

.left-side {
    width: 35rem;
}

.left-side img {
    width: 100%;
}

.title {
    text-align: center;
}

.data {
    grid-template-columns: 70% 90%;
    display: grid;
    margin: 1rem 0;
}

.subtitle {
    font-weight: bold;
}

.name {
    text-transform: capitalize;
}

.liste {
    display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 0.5rem;

    /* overflow-x: scroll;
    overflow-y: hidden; */
}

.img-container {
    width: 15rem;
}

.img-container img {
    width: 100%;
}

.photos {
    margin-top: 4rem;
}