#details {
    padding: 1rem;
}
h1{
    color: rgb(38, 212, 154);
    font-style: oblique;
}
.container {
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.left-side {
    width: 40rem;
}

.left-side img {
    width: 100%;
}

.title {
    text-align: center;
}

.data {
    grid-template-columns: 30% 90%;
    display: grid;
    margin: 1rem 0;
}

.subtitle {
    font-weight: bold;
}

.name {
    text-transform: capitalize;
}

.liste {
    display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	gap: 0.5rem;

    /* overflow-x: scroll;
    overflow-y: hidden; */
}
table{
    border-collapse: collapse;
}
tr,th{
    border: 1px solid black;
    width:10rem;
    height:5rem;
    
}
