.card {
    padding: 1em;
    width: 80%;
    border-radius: 6px;
    margin: auto;
    box-shadow: 2px 2px 2px 2px gray;
    display: flex;
	flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.liste {
	display: flex;
    flex-direction: column;
    gap: 2em;
}

.tools {
	display: flex;
    gap: 1em;
}

#footer {
    bottom: 0;
}

