.form {
    padding: 8rem 2rem;
    width: 20rem;
    background-color: rgba(118, 188, 231, 0.633);
    border: 5px solid white;
}

.tools {
    margin-top: 10%;
    text-align: center;
}

.input {
    background: transparent;
    border: none;
    border-bottom: 2px solid black;
}

.input:focus-visible {
    outline: none;
}

.input-group {
    display: grid;
    grid-template-columns: 45% 55%;
    margin-top: 5%;
    margin-bottom: 5%;
    align-items: center;
}

.btn {
    padding: 3% 10%;
    cursor: pointer;
    font-family: dosis;
    border: 3px solid white;
    background-color: lightpink;
    color: white;
    font-family: font-theme;
}

input, select {
    font-family: dosis;
}

.form .tools {
    place-items: center;
    display: grid;
}