@font-face {
    font-family: fasthand;
    src: url(font/Fasthand-Regular.ttf);
}

body {
    background-color: antiquewhite;
}

header {
    font-family: fasthand;
    font-size: 3em;
    text-align: center;
    letter-spacing: 0.5em;
    color: saddlebrown;
    height: 8vh;
}

#content {
    display: flex;
    flex-direction: row;
    height: 92vh;
}

.container {
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    place-items: center;
}

.form {
    padding: 10rem 2rem;
    width: 20rem;
    background-color: rgba(118, 188, 231, 0.633);
    border: 5px solid white;
}

.tools {
    margin-top: 10%;
    text-align: center;
}

.btn {
    border: 3px solid white;
    background-color: lightpink;
    color: white;
    font-weight: bold;
}

.input {
    background: transparent;
    border: none;
    border-bottom: 2px solid black;
}

.input:focus-visible {
    outline: none;
}

.input-group {
    display: grid;
    grid-template-columns: 45% 55%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.btn {
    background-color: pink;
    padding: 3% 10%;
    cursor: pointer;
    font-family: dosis;
}

input, select {
    font-family: dosis;
}

.form .tools {
    place-items: center;
    display: grid;
}

.message {
    text-align: center;
}





