.menu {
    z-index: 2;
    height: 100vh;
    width: 15em;
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    transition: 0.5s;
}

.navbar {
    list-style: none;
    height: 100%;
    width: 100%;
    padding: 0%;
    margin: 0%;
    background-color: #3347d3;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 8%;
    transition: 0.5s;
}

.nav-item {
    width: 100%;
    text-align: center;
    position: relative;
    padding: 5% 0%;
}

.nav-item:hover {
    background-color: #80808078;
}

.nav-item:hover::before {
    content: "";
    height: 0.4em;
    width: 100%;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
}

.nav-burger {
    display: none;
    position: fixed;
    top: 5vh;
    left: 5vw;
    width: 2.5em;
    border-radius: 6px;
    cursor: pointer;
    background-color: #3347d3;
    height: 2.5em;
}

.burger {
    display: block;
    height: 0.3em;
    width: 70%;
    background-color: white;
    position: relative;
    margin: auto;
    transition: 0.5s;
}

.nav-burger ::before {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 103%;
    background-color: white;
    margin: auto;
    top: -8px;
    transition: 0.5s;
}

.nav-burger ::after {
    display: block;
    content: "";
    position: absolute;
    width: 100%;
    height: 103%;
    background-color: white;
    margin: auto;
    top: 8px;
    transition: 0.5s;
}

.nav-item a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 489px) {
    .navbar {
        display: none;
    }

    .nav-item {
        width: 90%;
    }

    .nav-burger {
        display: grid;
        place-items: center;
    }

    .navOpen {
        display: flex;
        height: auto;
        border-radius: 30px;
        transition: 0.5s;
    }

    .display {
        width: 100%;
        display: grid;
        place-items: center;
        transition: 0.5s;
    }

    .display .burger::before {
        top: 0px;
        rotate: 45deg;
    }

    .display .burger::after {
        top: 0px;
        rotate: -45deg;
    }

    .display .burger {
        background-color: transparent;
    }
}
