html {
    --theme: rgb(43, 226, 159);
	--green: rgb(77, 247, 77);
	--red:rgb(248, 75, 75);
}

@font-face {
    font-family: font-theme;
    src: url("../fonts/Rubik.ttf");
}

html {
    font-family: font-theme;
}

body {
    margin: 0;
}

.error {
    color: red;
}

a {
    text-decoration: none;
}

.title {
    text-align: center;
}

.success {
    background-color: var(--green);
}

.danger {
    background-color: var(--red);
}

.btnLink {
    display: flex;
    width: 10rem;
    height: 3rem;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    color: white;
    font-weight: bold;
}

.success:hover {
    background-color: green;
}

.danger:hover {
    background: #b50d0d;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    background: aliceblue;
    padding: 1em 0em;
    margin-left: 15rem;
    position: absolute;
    margin-top: 2em;

}

img {
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

img:hover {
    transform: scale(1.2);
}

#body {
    margin-left: 15em;
}

@media screen and (max-width: 489px) { 
    #body {
        margin: 0;
        margin-top: 5rem;
    }
}