#footer {
    bottom: 0;
}

.table {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: auto;
    place-items: center;
    margin-top: 5em;
    text-align: center;
}

.table > * {
    width: 100%;
}

.left {
    border-right: 2px solid gray;
}